<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='nit.css')}}">

    <title>Colon Disease Prediction</title>
</head>
<body>
    
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/predict">Predict</a>
        <a href="/contact">contact</a>
        <a href="/home">Inspect</a>
    </div>

   
    <h1 class="main-heading">About Us</h1>
    
    <div class="content">
        
        <div class="right-side">
            <div class="side-heading">
                
            </div>
            <div>   
            <h1>Data preparation.</h1><br><br><div>
            <p>The first step is to prepare the data for the cnn.</p><br><br>
            
            
            </div>
            <div class="side-heading">
                
            </div>
            <div>
            <h1>Model building</h1><br><br>
            
            <p>The second step id=s to duild the cnn model using the vgg16 architecture.</p>
            
            </div>
            
            <div class="side-heading">
            
            </div>
            <div>
                <h1>MOdel training and evaluation</h1><br><br>
            <p>The third step is to train on the training data using the fit()method</p>
            </div>
            
            <div class="side-heading">
            
            </div>
            <div>
                <h1>Model deployment</h1><br><br>
            <p>The final step after model training and deployment involves deployment<br><br>
            the so that it can be used in real world application</p>
            </div>
            
        </div>
    </div>
</body>
</html>

