<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='nit.css')}}">

    <title>Colon Disease Prediction</title>
</head>
<body>
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/predict">Predict</a>
        <a href="/contact">Contact</a>
        <a href="/home">Inspect</a>
        <h1 id="gg">COLON DISEASE.</h1>
    </div>
    <h1 class="main-heading">Contact Us</h1>
    <div class="content">
        <div class="left-half">
            <div class="side-heading">s
                <img src="/static/14.jpg" alt="Icon 1">
                <h2>Location:</h2><br><br>
                <p></p>
            </div>
            <div class="side-heading">
                <img src="/static/15.jpg" alt="Icon 2">
                <h2>Email:</h2><br><br>
                <p>info@gmial.com</p>
            </div>
            <div class="side-heading">
                <img src="/static/16.jpg" alt="Icon 3">
                <h2>Call:</h2>
                
            </div><p>7993#####3</p>
        </div>
        <div class="right-half">
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="Your Email">
            <input type="text" placeholder="Subject">
            <textarea placeholder="Message"></textarea>
            <button type="Send Message">Submit</button>
        </div>
    </div>
</body>
</html>
