<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='nit.css')}}">
    <title>Colon Disease Prediction</title>
</head>
<body>
    
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/predict">Predict</a>
        <a href="/contact">Contact</a>
        <a href="/home">Inspect</a>
        <h1 id="gg">COLON DISEASE.</h1>
    </div>
    
    <div class="background-image">
        <h1 style="color:rgba(27, 72, 207, 0.805)">Colon Disease Prediction.</h1>
        <p style="color:rgba(17, 17, 200, 0.794)">Detection Of Intestinal Diseases. </p>
    </div>
</body>
</html>